/* --- RESET TOTAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7e8eb; 
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Esto mata cualquier cosa que intente hacer la pantalla más ancha */
}

/* --- CONTENEDOR PRINCIPAL --- */
.invitation-container {
    width: 100%;
    max-width: 500px; 
    background-color: #f7e8eb; 
    position: relative; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
}

/* --- IMÁGENES GENÉRICAS --- */
.img-bloque{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border: none;
    vertical-align: top;
}
.img-renata1 {
    width: 180%; /* ¡Hazla gigante! Súbelo a 150% o bájalo si lo necesitas */
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
    margin-top: 20%; /* Para separarla de lo de arriba si es necesario */
    left: 45%; 
    transform: translateX(-45%);
}
.img-fecha {
    width: 110%; 
    height: auto;
    display: block;
    margin:  -10% auto;
    position: relative;
    z-index: 5;
    top: 30px;
}

.img-corona {
    width: 100%; 
    height: auto;
    display: block;
    margin: -15px auto;
    position: relative;
    z-index: 5;
    top: 60px; 
}

/* --- TUS TEXTOS GIGANTES ACOMODADITOS (El Truco Maestro) --- */
/* left: 50% y translateX(-50%) garantizan el centrado perfecto sin importar qué tan grandes sean */

.img-mensaje {
    width: 125%; 
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-mensaje2 {
    width: 95%; 
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.img-mensaje3 {
    width: 158%;
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-mensaje4 {
    width: 150%; 
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* --- CONTENEDORES --- */
.seccion-relativa {
    position: relative;
    width: 100%;
}

/* --- FLORES Y MARIPOSAS --- */
.flor-borde { position: absolute; z-index: 20; pointer-events: none; }
.flor-11 { top: -15%; left: -20%; width: 65%; }
.flor-12 { top: -15%; right: -30%; width: 70%; }
.flor-13 { bottom: -80%; right: -60%; width: 125%; transform: rotate(-4deg); }
.flor-14 { top: -18%; left: -15%; width: 105%; transform: rotate(-10deg); }
.flor-15 { top: -4%; right: -22%; width: 100%; transform: rotate(5deg); }

.mariposa { position: absolute; z-index: 30; pointer-events: none; }
.mari-muro1-abierta { width: 20%; top: 10%; left: 15%; transform: rotate(15deg); }
.mari-muro1-volando { width: 18%; top: 40%; right: 10%; }
.mari-muro2-abierta { width: 22%; top: 20%; right: 15%; }
.mari-muro2-volando-espejo { width: 18%; top: 55%; left: 15%; transform: scaleX(-1) rotate(-10deg); }

/* --- LOS MAPAS DE GOOGLE (Ahora están domados) --- */
.mapa-interactivo {
    position: absolute;
    z-index: 26; /* ¡Detrás del marco dorado! */
    width: 28%; /* 10% más chico que el marco */
    height: 28%; 
    border: 15% none;
}

/* Ajustes finos para que encajen en el hueco del dorado */
.mapa-misa {
    top: 60.5%;
    left: 54%;
    transform: translateX(-50%);
}

.mapa-recepcion { 
    top: 59.5%;
    left: 47.25%;
    transform: translateX(-50%);
}